* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    /* ^ to avoid seeing white when you scroll to far to the right,
    left, up, & down */
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/parallax-bg.gif");
    background-size: cover; */
}

.moving-background {
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/parallax-bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 40%;
}