* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'consolas', 'Helvetica Neue';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* ^ places the three buttons on top on one another */
    background: #050801;
}